

    .log1{
    	border:1px solid gray;
     width:400px;
    margin: auto;
    text-align:center;
     color: white;
     font-size: 40px;
     font-weight: bold;
     background-color: blue;

     }

     .log2{
     	border:1px solid gray;
     	width:400px;
    margin: auto;
    text-align:center;
     }

p{
color:blue;
}
