

    .log1{
    padding-left: 25px;
    border:1px solid linen;  
    margin:auto;  	
    width:350px;    
     text-align:center;
     color: white;
     font-size: 20px;
     font-weight: bold;
     background-color: DodgerBlue;

     }

     .log2{
     background-color: white;
     border:1px solid linen;
     width:350px;
    margin: auto;
    padding-left:25px;
    
     }
     .loginb{
     background-color:DodgerBlue;
     width:320px;
     }
 
    .button{
    background-color:DodgerBlue;
    width:160px;
    }

    body.back{
 	background-color:linen;
    }
    .text{
    background-color:linen;	
    width:320px;
    height:25px;
    }